@model IEnumerable<LibreriaPagos.Models.ClienteDireeccion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClienteIdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColoniaIdColoniaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DireccionIdDireccionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteIdClienteNavigation.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColoniaIdColoniaNavigation.IdColonia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DireccionIdDireccionNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdClienteDireeccion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdClienteDireeccion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdClienteDireeccion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
